* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

#header {
    max-height: 100%;
    background-size: cover;
    background-image: url(./Image/Background.png);
    height: 90vmin;
    color: white;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}

.txtid {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.txtid>div {
    font-size: 1.7vmin;
}

.nav-link {
    color: aliceblue;
}

#iconUl {
    align-items: center;
    display: flex;

}

.myDis img {
    width: 15vmin;
}

.iconUli>i {
    font-size: 2.5vmin;
}

#iconUl>span {
    /* border: 1px solid ; */
    margin-left: 1vmin;

}

.email {
    align-items: center;
    height: 5vmin;
    border-bottom: 1px solid;
    /* border: 2px solid; */
    vertical-align: middle;
    align-items: center;
    line-height: 4.5vmin;
}

@media screen and (max-width:990px) {
    #Navone {
        display: none;
    }

    .small {
        display: none;
    }
}

/*  */
@media screen and (max-width:666px) {
    #header {
        height: 600px;
        /* margin-left: -15vmin; */
        width: 100%;
        background-image: url(/src/Image/Background.png);

        background-position: center;
        background-size: cover;
    }

}

@media screen and (min-widht:1450px) and (max-widht:2560px) {
    #lgf {
        font-size: 6vmin;
    }

}