* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
:root{
    --primary-color: #333;
    --playWrite:"Playwrite SK", cursive;
    --Satisfy:"Satisfy", cursive;
    --Fjalla : "Fjalla One", sans-serif;
    --a: rgb(128, 216, 200);
    --b:black;
    --w:white;
}
#header {
    max-height: 100%;
    background-size: cover;
    background-image: url(./Image/Background.png);
    height: 90vmin;
    color: white;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}

.txtid {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.txtid>div {
    font-size: 1.7vmin;
}

.nav-link {
    color: aliceblue;
}

#iconUl {
    align-items: center;
    display: flex;

}

.myDis img {
    width: 15vmin;
}

.iconUli>i {
    font-size: 2.5vmin;
}

#iconUl>span {
    /* border: 1px solid ; */
    margin-left: 1vmin;

}

.email {
    align-items: center;
    height: 5vmin;
    border-bottom: 1px solid;
    /* border: 2px solid; */
    vertical-align: middle;
    align-items: center;
    line-height: 4.5vmin;
}

.navbar {
    color: white;
}

.navbar-brand img {
    width: 15vmin;
}

.largeNav {
    display: none;
}
.MainContent{
    /* line-height:75vmin; */
    width: 50%;
    padding: 0vmin 5vmin;
    /* height: 70vmin; */
    /* border: 1px solid; */
}
.means{
    vertical-align: middle;
}

.means h1{
 
    /* font-family:var(--playWrite), cursive; */
    display: inline-block;

    font-family: var(--Satisfy);
    font-style: italic;
    color:var(--a);
}

.means h2{
    font-family: var(--Fjalla);
    font-size: 8vmin;
}
.means > button{
    padding: 1vmin 5vmin;
    color: white;
    background: 
    transparent;
    font-size: 3vmin;
    border-radius:26px 1px 23px 1px;

    border: 2px solid ;
}
.means > button:hover{
    color: var(--b);
   border-radius: 1px 26px 1px 23px;
    border: var(--b);
    transition:all 0.4s ease-in;
background-color: var(--a);
}
.nav-link:hover{
    transition:all 0.4s ease-in;

    color: var(--a);
}


@media screen and (max-width:990px) {
    #Navone {
        display: none;
    }

    .small {
        display: none;
    }

    .largeNav {
        display: block;
    }

}

/*  */
@media screen and (max-width:666px) {
    #header {
        height: 600px;
        /* margin-left: -15vmin; */
        width: 100%;
        background-image: url(/src/Image/Background.png);

        background-position: center;
        background-size: cover;
    }

}

@media screen and (min-widht:1450px) and (max-widht:2560px) {
    #lgf {
        font-size: 6vmin;
    }

}