.mainBlog {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: var(--b);
}

.borderrr {
    position: absolute;
    inset: 0px;
    border: 1px solid var(--w);
    opacity: 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
}
.manyare2 h3:hover{
    transition: .1s;
    color: var(--a);
}

.boxup:hover {
    /* border-radius: 0; */
    transform: scale(1);
}

.boxup:hover .borderrr {
    inset: 15px;
    opacity: 1;
    transform: rotate(0);
}

.blog {
    margin: 0 auto;
    text-align: center;
}

.comtwo {
    color: var(--w);
    list-style: none;
}

/* .manyare2{
    border: 1px solid ;
} */
.blog>h3 {
    color: var(--a);
    font-family: var(--Satisfy);
}

.blog>h2 {
    color: var(--w);
    font-family: var(--Fjalla);
}

.update {
    padding: 15vmin;
    width: 100%;
    height: auto;
    /* background: url(./b1.png); */
    display: grid;
    margin: -11vmin auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    /* border: 2px solid white; */
}

.boxup {
    height: 80vmin;
    background: url(./Image/b2.png);
    background-size: cover;
    box-shadow: inset 25px 29px 64px 22px #080707;
    position: relative;
    border: 15px solid var(--b);
}

.boxup2 {

    /* background: url(./b2.png); */
    background-size: cover;
    /* box-shadow: inset 25px 29px 64px 22px #080707; */
    position: relative;
    /* border: 15px solid var(--b); */
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    height: 80vmin;
    line-height: 100%;
    /* margin: 67px 0px; */
    justify-content: space-around;
}

.boxup>ul {
    background: rgba(9, 10, 10, 0.4);
    display: flex;
    color: var(--w);
    width: 100%;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    margin: 0 auto;
}

.comments {
    width: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
}

.comments2 {
    width: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
}

.paddingtop {
    padding: 5vmin;
}

.manyare {
    padding: 5vmin;
}

.manyare2 {
    padding: 3px 17px;
}

.boxwidth {
    border: 0.4px solid;
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat;
    width: 20vmin;
    background: url(./Image/s9.png);
    height: 11vmin;
}
.boxwidth2 {
    border: 0.4px solid;
    width: 20vmin;
    height: 11vmin;
    background-size: cover !important;
    /* background-position: center !important; */
    background-position:bottom !important;

    background-repeat: no-repeat !important;
    background: url(./Image/s10.png);

}
.boxwidth3 {
    border: 0.4px solid;
    width: 20vmin;
    background-size: cover !important;
    background-position:bottom !important;
    background-repeat: no-repeat !important;
    background: url(./Image/s11.png);

    height: 11vmin;
}

.sidebox {
    display: flex;
    box-sizing: border-box;
    list-style: none;
    padding: 2px;
}

.comtwo>div {
    padding: 1vmin;
    height: 14vmin;
    box-sizing: border-box;
    border: 0.2px solid var(--w);
}

.hairbtn {
    width: 18vmin;
    box-sizing: border-box;
    float: right;
    font-size: 2.5vmin;
    background-color: var(--a);
    font-weight: 700;
    display: block;
    /* padding: 5px; */
    border: none;

}

.manyare>h3 {
    font-size: 3.5vmin;

}

.manyare2>h3 {
    font-size: 2.5vmin;

}

@media screen and (max-width:990px) {
    .update {
        padding: 3vmin;
        margin: 5vmin auto;
    }

    .manyare {
        padding: 0vmin;
    }

    .manyare2 {
        padding: 0vmin;
    }

    .manyare>h3 {
        font-size: 3vmin;

    }

    .manyare2>h3 {
        font-size: 2vmin;

    }
}
@media screen and (max-width:374px) {

    .comtwo>div {
        /* padding: 1vmin; */
        height: 17vmin;
}

.sidebox {
    padding: 6px;
}
}
