* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

::-webkit-scrollbar {
    background-color: var(--g);
}

::-webkit-scrollbar-button {
    height: 10px;
    background-color: var(--b);
}

::-webkit-scrollbar-thumb {
    height: 15px;
    background-color: var(--b);
}
.navbar-toggler{
    display: block;
}
.btn-close{
    display: block;

}

.means>button {

display: block;
}
#fitbtn {
    display: block;
}


:root {
    --primary-color: #333;
    --playWrite: "Playwrite SK", cursive;
    --Satisfy: "Satisfy", cursive;
    --Fjalla: "Fjalla One", sans-serif;
    /* --a: rgb(128, 216, 200); */
    --a:#63E6BE;
    /* --a: rgb(216, 159, 128); */
    --g: #bd9f67;
    --b: rgb(30, 28, 28);
    --w: white;
}